{% extends "layout.html" %}

{% block content %}

<h2>Shop Wise Report</h2>

<div class="card p-3">

<table class="table table-bordered">

    <tr>
        <th>Shop Name</th>
        <th>Total Collection</th>
        <th>Total Paid</th>
        <th>Balance</th>
    </tr>

    {% for row in reports %}
    <tr>
        <td>{{ row[0] }}</td>
        <td>₹ {{ row[1] }}</td>
        <td>₹ {{ row[2] }}</td>
        <td>₹ {{ row[3] }}</td>
    </tr>
    {% endfor %}

</table>

</div>

{% endblock %}