{% extends "layout.html" %}

{% block content %}

<h2>Product Wise Report</h2>
<form method="GET">
    <div class="row mb-3">
        <div class="col-md-3">
            <label>From Date</label>
            <input type="date" name="from_date" class="form-control" value="{{ from_date }}">
        </div>
        <div class="col-md-3">
            <label>To Date</label>
            <input type="date" name="to_date" class="form-control" value="{{ to_date }}">
        </div>
        <div class="col-md-3">
            <br>
            <button type="submit" class="btn btn-primary">Filter</button>
            <a href="{{ request.path }}" class="btn btn-secondary">Clear</a>
        </div>
    </div>
</form>

<table class="table table-bordered">

    <tr>
        <th>Product</th>
        <th>Total Liter</th>
        <th>Total Amount</th>
    </tr>

    {% for row in reports %}
    <tr>
        <td>{{ row[0] }}</td>
        <td>{{ row[1] }}</td>
        <td>₹ {{ row[2] }}</td>
    </tr>
    {% endfor %}

</table>

{% endblock %}
